<!-- Task-2 -->
<!--<app-task2></app-task2>-->

<!-- Task-3 -->
<!--<app-task3></app-task3>-->

<!-- Task-4 -->
<!-- <app-task4></app-task4> -->

<!-- Task-5 -->
<!--<app-task5></app-task5>-->

<!-- Task-6 -->
<!--<app-task6></app-task6>-->

<!-- Task-7 -->
<!--<h1>Angular input output event example</h1>
<h3>Send data from parent to child</h3>

<div style="display: flex;">
    <div *ngFor="let data of data">
        <app-task7 [users]='data'></app-task7>
    </div>    
</div>

<div>
    <h3>Send data from child to parent</h3>
    <app-childt7 (metdata)='parenttochildfun($event)'></app-childt7>
    <ng-component *ngIf="emittedData === ''; then ifBlock else elseBlock"></ng-component>
    <ng-template #ifBlock>
        <p>Data: No data</p>
    </ng-template>

    <ng-template #elseBlock>
        <p>Data: {{emittedData}}</p>
    </ng-template>
</div>-->

<!-- Task-8 -->
<!--<app-task8></app-task8>-->

<!-- Task-9 -->
<crud-application></crud-application>